/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --trans: rgba(255, 0, 0, 0);
}
body{
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: var(--white);
	margin: 0;
}

video {
  width: 98.7vw;
  height: 100vh;
  object-fit: cover;
}

.header-title {
  background-image: linear-gradient(var(--trans), var(--black));
  width: 100%;
  padding: 128px 32px;
  position: absolute;
  bottom: 0;
}

.header-title h1, .header-title p {
  font-style: italic;
  text-align: center;
  margin: 0;
}

.header-title h1 {
  font-family: 'Exo', sans-serif;
  font-size: 4em;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .header-title h1 {
    font-size: 3em;
  }
}

h1{
	font-size: 50px;
	text-align: center;
}
h2{
	font-size: 25px;
	text-align: center;

}

/* Section */

section {
  margin: 0 64px 0;
  padding: 64px 0 64px;
}
section h1, section h2 {
  font-family: 'Exo', sans-serif;
}

section h1 {
	display: flex;
	justify-content: space-between;
	background-color: inherit;
	font-family: 'Exo', sans-serif;
	font-weight: 700;
	padding: 5px 64px;
	font-size: 3em;
	text-align: left;
}

section p {
	 display: flex;
  justify-content: space-between;
  background-color: inherit;
  font-family: 'Exo', sans-serif;
  padding: 5px 64px;
 
  font-size: 1em;
}
